.friends{
  padding: 20px;
  background-color: rgb(14, 169, 203);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid black;
}

.title{
  background-color:rgb(15, 31, 66);
  display: inline-block;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 24px;
  color: yellow;
  letter-spacing: 1px;
  border-radius: 1px solid black;
}