.dialogs{
  padding: 20px;
  justify-content: center;
  border-left: 2px solid black;
}

.title{
  background-color:rgb(15, 31, 66);
  display: inline-block;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 24px;
  color: yellow;
  letter-spacing: 1px;
  border-radius: 1px solid black;
}

.titleDialogs{
}

.item{
  color:chartreuse;
  font-weight:600;
  letter-spacing: 1px;
  padding: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
  background: rgb(5, 90, 171);
}

.item:not(:last-child){
  margin-bottom: 15px;
}