.dialogs{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border-left: 2px solid black;
}

.title{
  background-color:rgb(15, 31, 66);
  align-self: center;
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 24px;
  color: yellow;
  letter-spacing: 1px;
  border-radius: 1px solid black;
}

.items{
flex: 1 1 auto;
}

.send{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
justify-content: space-between;
}

.textarea{
  width: 70%;
}

button{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color:brown;
  padding: 0 5px;
  color: antiquewhite;
  font-size: 24px;
}

.item{
  color:chartreuse;
  font-weight:600;
  letter-spacing: 1px;
  padding: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
  background: rgb(5, 90, 171);
}

.item:not(:last-child){
  margin-bottom: 5px;
}


